# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test
*.out

# Go workspace
go.work
go.work.sum

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Git
.git/
.gitignore

# Documentation (не нужна в образе)
*.md
docs/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Временные файлы
tmp/
temp/

# Accrual
cmd/accrual/

# Makefile
Makefile
